html,
body,
#app {
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

/* App */
.app {
  min-height: 100%;
  position: 'relative';
  overflow: 'hidden';
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: 'relative';
  overflow: hidden;
  min-height: 100%;
}

.app-content-wrapper {
  display: flex;
  height: 100%;
}

.app-content {
  flex-grow: 1;
}

.app-toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 8px;
}

.row-horizontal-wrapper {
  width: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 8px;
  padding: 8px 32px;
}
.row-horizontal {
  width: 100%;
  margin: 8px;
  height: 64px;
  padding: 8px 32px;
  background: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  align-items: center;
}

.row-content {
  flex-grow: 1;
}

.row-number {
  margin-right: 5px;
  font-weight: 400;
}

.active {
  color: #000000;
}

/* Transition styles */
.component-enter {
  opacity: 0.01;
  transform: scale(0.9) translateY(50%);
}
.component-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0%);
  transition: all 300ms ease-out;
}
.component-exit {
  opacity: 1;
  transform: scale(1) translateY(0%);
}

.component-exit-active {
  opacity: 0.01;
  transform: scale(0.9) translateY(50%);
  transition: all 300ms ease-out;
}

/* App pages */
.app-page {
  width: 100%;
  padding: 16px;
}

.fixed {
  overflow: auto;
  height: calc(100% - 64px);
}
.scrollable {
  height: 100%;
  min-height: 100%;
}

.aligned {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.app-content {
  width: 100%;
}

.vertical-divider {
  height: 48px;
  width: 1px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  margin: 0 12px;
}

/* Snackbar */
.error-snackbar-content {
  background-color: orangered !important;
}

.snackbar-message {
  display: flex;
  align-items: center;
}

.snackbar-icon {
  margin-right: 10px;
}

/* Authentication */
.auth-page {
  width: 100%;
  padding: 32px;
  display: flex;
  justify-content: center;
}

.auth-form-wrapper {
  width: 424px;
  max-width: 424px;
  padding: 8px 32px;
  background: #ffffff;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.auth-logo {
  width: 128px;
  margin: 8px auto;
}

.auth-title {
  font-size: 20px;
  margin: 8px 0 16px 0;
}

.auth-form {
  width: 100%;
  text-align: left !important;
}

.auth-form-field {
  width: 100%;
  margin: 5px 0 !important;
}

.auth-form-error {
  color: #d41111 !important;
}

.auth-submit-button {
  width: 220px;
  margin: 24px auto !important;
  display: block !important;
}

.auth-alt-option {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

@media (max-width: 600px) {
  #auth-form-wrapper {
    padding: 16px;
  }

  #auth-form {
    width: 100%;
    padding: 24px;
  }

  .auth-submit-button {
    width: 90%;
  }
}
